/* styles.css หรือ global styles */
body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5); /* สีดำที่มีความโปร่งแสง 50% */
  background-image: url("bg.jpg"); /* รูปพื้นหลัง */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
